// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bg {
    background: url('https://scontent.flos1-1.fna.fbcdn.net/v/t1.0-9/s960x960/108152633_3219192991435224_8256505108727641954_o.jpg?_nc_cat=101&_nc_sid=8024bb&_nc_eui2=AeEFnD0nA8gdlajGoGjCzGw_QJ6R3OMQ4tFAnpHc4xDi0ZSTb4VyVAVdH34v2dl6RQ4yl6j5wJFdUBgEpx2iadwT&_nc_ohc=ZKAnE8ZQy7UAX_uIn5M&_nc_ht=scontent.flos1-1.fna&_nc_tp=7&oh=2e43376093df4c951715bb3f76e13fea&oe=5F62A27B');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}