// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bg {
    background: url('https://lh3.googleusercontent.com/UDyFxbyPMeod8iaSs0t5dA3NEOUmbuQZsQA5OnGGP5kQdua7myjSoRLtXrGRFreILhnBpQMJBFwQxyjwTyYIx2SKLz2B-AcQc2pWIXnYvfil3QIGU_R0buytjVwxI-19xBLMx-4hi8gGHT2-V6XAWu5sHz9k-Lf70Ebr3VPT4lPdu4Bo7AkalzRUYHDHTrNHVKPMcoF50OJiyr6NIdqyj0phgUu618P1cuwNUF08hjvjaecLPMO4QdXlXhtY2FjuGj7fhil6PfHnqyqKeWBLcC4oTjLSOhd20e4hW0OxUE7Kc68oFb9XAro_fm-Td3ikD62z7SW_SpspFwDrGELteE1ak3XrdX1RWZedZgd7ozoFmfFGQVMnsAImFD_SFPBXqW7zi_8_L-WK1NAIYUkOV_p85SgbHk1SHTaV_1NIKSIaE5dch55DiWoGEl_DBzxISz_CFGJiRxWoJsNZkJUbNe4h1Xpuh1_RM9B21LnuuxdzKKqAy1q4v3CsVuohxLJTdGz0K27-KWdpQR4SbUGgMuE244S0UMBKjk3nm0d7HaiC7RHCrUF5TKHV4Ki-_rRiXPCeiN9m5AUfvyg42kHI3nMt65P7Ul5TGJLuYyZv1sptaeCiUQES4938_5H0wssFJe9aQ9C_epNRSPXl2prBa4q0joR1iP8pUKJ7Uo_-bSgIba9wHegtVgnAbwYq=w1060-h669-no?authuser=0');
    height: 90.7vh;
    background-size: cover;
    background-repeat: no-repeat;
}